*{
  margin: 0;
  padding: 0;
}
body{
  font-family: nunito;
}
#logo{
  position: absolute;
  top: 3%;
  left: 0.9%;
  height: 5%;
}
#profileimg{
  position: absolute;
  top: 2%;
  left: 94.5%;
  border-radius: 8px;
  height: 8%;
}

.menu{
  position: absolute;
  border-radius: 10px;
  background-color: #8bbabb;
  height: 250px;
  width: 5%;
  left: 0.9%;
  top: 15%;
}
h2{
  position: absolute;
  top: 3%;
  margin: 0 auto;
  font-size: 210%;
  left: 9%;
  font-weight: 800;
}

.banner img{
  position: absolute;
  top: 10%;
  left: 8%;
  height: 45%;
  
}

.banner h1{
  color: #003f5c;
  font-size: 35px;
  font-weight: 800;
  position: absolute;
  top: 23%;
  left: 11%;
}
.banner p{
  max-width: 400px;
  color: #003f5c;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  top: 32%;
  left: 11%;
}

.year1{
  position: absolute;
  height: 120px;
  width: 28%;
  top: 63%;
  left: 9%;
  border-radius: 15px;
  background-image: url(1year.jpg);
  transition: linear 0.4s;
  cursor: pointer;
}
.year2{
  position: absolute;
  height: 120px;
  width: 28%;
  top: 63%;
  left: 40%;
  border-radius: 15px;
  background-image: url(2year.jpg);
  transition: ease 0.5s;
  cursor: pointer;
}
.year3{
  position: absolute;
  height: 120px;
  width: 28%;
  top: 82%;
  left: 9%;
  border-radius: 15px;
  background-image: url(3year.jpg);
  transition: ease 0.5s;
  cursor: pointer;
}
.year4{
  position: absolute;
  height: 120px;
  width: 28%;
  top: 82%;
  left: 40%;
  border-radius: 15px;
  background-image: url(4year.jpg);
  transition: ease 0.5s;
  cursor: pointer;
}

.list{
  margin: 13px auto;
  list-style-type: none;
  left: 0.9%;
}

.list svg{
  margin: 20px 20px 30px 28px;
  color: #fff;
  stroke-width: 2.5px;
  cursor: pointer;
}
.indicator{
  position: absolute;
  height: 20%;
  margin-top: 25%;
  border-radius: 0 5px 5px 0;
  width: 6%;
  background-color: #fff;
  transition: margin-top 0.4s linear;
}
h3{
  font-weight: 800;
  position: absolute;
  top: 56.5%;
  margin: 0 auto;
  font-size: 180%;
  left: 9.5%;
}

.caption{
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 10px 0 0 40px;
}
.text{
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px 0 0 45px;
}
h4{
  font-weight: 800;
  position: absolute;
  margin: 0 auto;
  top: 11%;
  left: 71%;
  font-size: 220%;
}
.gate{
  position: absolute;
  height: 270px;
  width: 13%;
  top: 20%;
  left: 71%;
  border-radius: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(gate.jpg);
  background-position: top;
  transition: ease 0.5s;
  text-overflow: ellipsis;
  cursor: pointer;
}
.appt{
  position: absolute;
  height: 270px;
  width: 13%;
  top: 20%;
  left: 85.5%;
  border-radius: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(appt.jpg);
  background-size: cover;
  background-position: center;
  transition: ease 0.5s;
  text-overflow: ellipsis;
  cursor: pointer;
  opacity: 0.5 #000;
}
.tech{
  position: absolute;
  height: 270px;
  width: 13%;
  top: 60%;
  left: 71%;
  border-radius: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(tech.jpg);
  background-position: center top;
  transition: ease 0.5s;
  text-overflow: ellipsis;
  cursor: pointer;
}
.novels{
  position: absolute;
  height: 270px;
  width: 13%;
  top: 60%;
  left: 85.5%;
  border-radius: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(novels.jpg);
  background-size: cover;
  transition: ease 0.5s;
  text-overflow: ellipsis;
  cursor: pointer;
}
.caption1{
  color: #ffffff;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 0 0 20px;
}
.text1{
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px 40px 0 20px;
}

.year1:hover{
  transform: scale(1.02);
  box-shadow: 8px 8px 15px 1px rgb(0, 0, 0,0.2);
}
.year2:hover{
  transform: scale(1.02);
  box-shadow: 8px 8px 15px 1px rgb(0, 0, 0,0.2);
}
.year3:hover{
  transform: scale(1.02);
  box-shadow: 8px 8px 15px 1px rgb(0, 0, 0,0.2);
}
.year4:hover{
  transform: scale(1.02);
  box-shadow: 8px 8px 15px 1px rgb(0, 0, 0,0.2);
}
.gate:hover{
  transform: scale(1.02);
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(gate.jpg);
  box-shadow: 10px 10px 15px 1px rgb(0, 0, 0,0.2);
}
.appt:hover{
  transform: scale(1.02);
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(appt.jpg);
  box-shadow: 10px 10px 15px 1px rgb(0, 0, 0,0.2);
}
.tech:hover{
  transform: scale(1.02);
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(tech.jpg);
  box-shadow: 10px 10px 15px 1px rgb(0, 0, 0,0.2);
}
.novels:hover{
  transform: scale(1.02);
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(novels.jpg);
  box-shadow: 10px 10px 15px 1px rgb(0, 0, 0,0.2);
}
.list svg:hover{
  transform: scale(1.1);
}

@media only screen and (max-width:370px){
  #logo{
    position: absolute;
    top: 3%;
    left: 4%;
    height: 5%;
  }
  #profileimg{
    position: absolute;
    top: 1%;
    left: 80%;
    border-radius: 15px;
    height: 8%; 
  }
  .menu{
    position: fixed;
    background-color: #8bbabb;
    width: 100vw;
    height: 65px;
    top: 91.2%;
    border-radius: 0;
    left: 0;
    
    z-index: 1;
  }
  h2{
    position: absolute;
    top: 12%;
    margin: 0 auto;
    font-size: 23px;
    left: 4%;
    font-weight: 900;
  }
  .banner img{
    position: absolute;
    top: 19%;
    left: 2%;
    width: 306px;
    height: 115px;
  }
  .banner h1{
    color: #003f5c;
    font-size: 13px;
    font-weight: 900;
    position: absolute;
    top: 26%;
    left: 5%;
  }
  .banner p{
    max-width: 350px;
    color: #003f5c;
    margin-right: 50%;
    padding-right: 9px;
    font-size: 9px;
    font-weight: 900;
    font-style: italic;
    position: absolute;
    top: 30%;
    left: 5%;
    }

    h3{
    
      font-weight: 800;
      position: absolute;
      top: 41%;
      margin: 0 auto;
      font-weight: 800;
      font-size: 25px;
      left: 6%;
    }
  .year1{
    
    position: absolute;
    height: 14%;
    width: 45%;
    top: 48%;
    left: 3%;
    border-radius: 15px;
    background-image: url(1year.jpg);
    transition: linear 0.4s;
    cursor: pointer;
  }
  .year2{
    
    position: absolute;
    height: 14%;
    width: 45%;
    top: 48%;
    left: 53%;
    border-radius: 15px;
    background-image: url(2year.jpg);
    transition: linear 0.4s;
    cursor: pointer;
  }
  .year3{
    
    position: absolute;
    height: 14%;
    width: 45%;
    top: 63%;
    left: 3%;
    border-radius: 15px;
    background-image: url(3year.jpg);
    transition: linear 0.4s;
    cursor: pointer;
  }
  .year4{
    position: absolute;
    height: 14%;
    width: 45%;
    top: 63%;
    left: 53%;
    border-radius: 15px;
    background-image: url(4year.jpg);
    transition: linear 0.4s;
    cursor: pointer;
  }
  .list{
    margin: -5px auto;
    list-style-type: none;
    left: 0.9%;
  }
  .list svg{
    margin: 5% 8% 7% 13%;
    color: #fff;
    stroke-width: 2px;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  .indicator{
    display: none;
  }

  .caption{
    
    color: #ffffff;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 5px 0 0 10px;
    margin: 5px;
  }
  .text{ 
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    padding: 0 0 0 15px;
  }
  h4{
    font-weight: 800;
    position: absolute;
    margin: 0 auto;
    top: 78%;
    left: 6%;
    font-size: 25px;
  } 
  .gate{
    position: absolute;
    height: 21%;
    width: 45%;
    top: 85%;
    left: 4%;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(gate.jpg);
    background-position: top;
    transition: ease 0.5s;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .appt{
    position: absolute;
    height: 21%;
    width: 45%;
    top: 85%;
    left: 53%;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(appt.jpg);
    background-size: cover;
    background-position: center;
    transition: ease 0.5s;
    text-overflow: ellipsis;
    cursor: pointer;
    opacity: 0.5 #000;
  }
  .tech{
    position: absolute;
    height: 21%;
    width: 45%;
    top: 107%;
    left: 4%;
    margin-bottom: 20%;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(tech.jpg);
    background-position: center top;
    transition: ease 0.5s;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .novels{
    position: absolute;
    height: 21%;
    width: 45%;
    top: 107%;
    left: 53%;
    margin-bottom: 20%;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(novels.jpg);
    background-position: center top;
    transition: ease 0.5s;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .caption1{
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 10px 0 0 20px;
  }
  .text1{
    display: none;
  }
}

@media only screen and (min-width:371px){
     #logo{
      position: absolute;
      top: 3%;
      left: 3%;
      height: 5%;
    }
    #profileimg{
      position: absolute;
      top: 1%;
      left: 83%;
      border-radius: 15px;
      height: 8%; 
    }
    .menu{
      position: fixed;
      background-color: #8bbabb;
      width: 100vw;
      height: 65px;
      top: 92.2%;
      border-radius: 0;
      left: 0;
      
      z-index: 1;
    }
    h2{
      position: absolute;
      top: 12%;
      margin: 0 auto;
      font-size: 23px;
      left: 4%;
      font-weight: 900;
    }
    .banner img{
      position: absolute;
      top: 19%;
      left: 0%;
      width: 100%;
      height: 189px;
    }
    .banner h1{
      color: #003f5c;
      font-size: 16px;
      font-weight: 900;
      position: absolute;
      top: 29%;
      left: 3%;
    }
    .banner p{
      max-width: 350px;
      color: #003f5c;
      margin-right: 50%;
      padding-right: 9px;
      font-size: 10px;
      font-weight: 900;
      font-style: italic;
      position: absolute;
      top: 35%;
      left: 5%;
      }
  
      h3{
      
        font-weight: 900;
        position: absolute;
        top: 52%;
        margin: 0 auto;
        font-weight: 800;
        font-size: 25px;
        left: 6%;
      }
    .year1{
      
      position: absolute;
      height: 14%;
      width: 45%;
      top: 57%;
      left: 3%;
      border-radius: 15px;
      background-image: url(1year.jpg);
      transition: linear 0.4s;
      cursor: pointer;
    }
    .year2{
      
      position: absolute;
      height: 14%;
      width: 45%;
      top: 57%;
      left: 53%;
      border-radius: 15px;
      background-image: url(2year.jpg);
      transition: linear 0.4s;
      cursor: pointer;
    }
    .year3{
      
      position: absolute;
      height: 14%;
      width: 45%;
      top: 72%;
      left: 3%;
      border-radius: 15px;
      background-image: url(3year.jpg);
      transition: linear 0.4s;
      cursor: pointer;
    }
    .year4{
      position: absolute;
      height: 14%;
      width: 45%;
      top: 72%;
      left: 53%;
      border-radius: 15px;
      background-image: url(4year.jpg);
      transition: linear 0.4s;
      cursor: pointer;
    }
    .list{
      margin:0;
      list-style-type: none;
      left: 0.9%;
    }
    .list svg{
      margin: 5% 8% 7% 13%;
      color: #fff;
      stroke-width: 2px;
      height: 30px;
      width: 30px;
      cursor: pointer;
    }
    .indicator{
      display: none;
    }
  
    .caption{
      
      color: #ffffff;
      font-size: 15px;
      font-weight: 800;
      letter-spacing: 2px;
      padding: 5px 0 0 10px;
      margin: 5px;
    }
    .text{ 
      color: #ffffff;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 1px;
      margin: 0;
      padding: 0 0 0 15px;
    }
    h4{
      font-weight: 800;
      position: absolute;
      margin: 0 auto;
      top: 87%;
      left: 6%;
      font-size: 25px;
    } 
    .gate{
      position: absolute;
      height: 21%;
      width: 45%;
      top: 93%;
      left: 4%;
      border-radius: 20px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(gate.jpg);
      background-position: top;
      transition: ease 0.5s;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    .appt{
      position: absolute;
      height: 21%;
      width: 45%;
      top: 93%;
      left: 53%;
      border-radius: 20px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(appt.jpg);
      background-size: cover;
      background-position: center;
      transition: ease 0.5s;
      text-overflow: ellipsis;
      cursor: pointer;
      opacity: 0.5 #000;
    }
    .tech{
      position: absolute;
      height: 21%;
      width: 45%;
      top: 115%;
      left: 4%;
      margin-bottom: 20%;
      border-radius: 20px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(tech.jpg);
      background-position: center top;
      transition: ease 0.5s;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    .novels{
      position: absolute;
      height: 21%;
      width: 45%;
      top: 115%;
      left: 53%;
      margin-bottom: 20%;
      border-radius: 20px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(novels.jpg);
      background-position: center top;
      transition: ease 0.5s;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    .caption1{
      color: #ffffff;
      font-size: 18px;
      font-weight: 900;
      letter-spacing: 1px;
      padding: 10px 0 0 20px;
    }
    .text1{
      display: none;
    }
  }

@media only screen and (min-width:1100px){
  #logo{
    position: absolute;
    top: 3%;
    left: 0.9%;
    height: 5%;
  }
  #profileimg{
    position: absolute;
    top: 2%;
    left: 93.5%;
    border-radius: 8px;
    height: 8%;
  }
  
  .menu{
    position: absolute;
    border-radius: 10px;
    background-color: #8bbabb;
    height: 250px;
    width: 7%;
    left: 0.9%;
    top: 15%;
  }
  h2{
    position: absolute;
    top: 3%;
    margin: 0 auto;
    font-size: 210%;
    left: 9%;
    font-weight: 800;
  }
  
  .banner img{
    position: absolute;
    top: 12%;
    left: 10%;
    height: 39%;
    width: 651px;
    
  }
  
  .banner h1{
    color: #003f5c;
    font-size: 27px;
    font-weight: 800;
    position: absolute;
    top: 23%;
    left: 11%;
  }
  .banner p{
    max-width: 330px;
    color: #003f5c;
    margin-right: 8px;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    top: 32%;
    left: 10%;
  }
  
  .year1{
    position: absolute;
    height: 120px;
    width: 28%;
    top: 63%;
    left: 9%;
    border-radius: 15px;
    background-image: url(1year.jpg);
    transition: linear 0.4s;
    cursor: pointer;
  }
  .year2{
    position: absolute;
    height: 120px;
    width: 28%;
    top: 63%;
    left: 40%;
    border-radius: 15px;
    background-image: url(2year.jpg);
    transition: ease 0.5s;
    cursor: pointer;
  }
  .year3{
    position: absolute;
    height: 120px;
    width: 28%;
    top: 82%;
    left: 9%;
    border-radius: 15px;
    background-image: url(3year.jpg);
    transition: ease 0.5s;
    cursor: pointer;
  }
  .year4{
    position: absolute;
    height: 120px;
    width: 28%;
    top: 82%;
    left: 40%;
    border-radius: 15px;
    background-image: url(4year.jpg);
    transition: ease 0.5s;
    cursor: pointer;
  }
  
  .list{
    margin: 13px auto;
    list-style-type: none;
    left: 0.9%;
  }
  
  .list svg{
    margin: 20px 20px 30px 28px;
    color: #fff;
    stroke-width: 2.5px;
    cursor: pointer;
  }
  .indicator{
    position: absolute;
    height: 20%;
    margin-top: 25%;
    border-radius: 0 5px 5px 0;
    width: 6%;
    background-color: #fff;
    transition: margin-top 0.4s linear;
  }
  h3{
    font-weight: 800;
    position: absolute;
    top: 56.5%;
    margin: 0 auto;
    font-size: 180%;
    left: 9.5%;
  }
  
  .caption{
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 10px 0 0 40px;
  }
  .text{
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 0 0 45px;
  }
  h4{
    font-weight: 800;
    position: absolute;
    margin: 0 auto;
    top: 20%;
    left: 71%;
    font-size: 220%;
  }
  .gate{
    position: absolute;
    height: 200px;
    width: 13%;
    top: 28%;
    left: 71%;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(gate.jpg);
    background-position: top;
    transition: ease 0.5s;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .appt{
    position: absolute;
    height: 200px;
    width: 13%;
    top: 28%;
    left: 85.5%;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(appt.jpg);
    background-size: cover;
    background-position: center;
    transition: ease 0.5s;
    text-overflow: ellipsis;
    cursor: pointer;
    opacity: 0.5 #000;
  }
  .tech{
    position: absolute;
    height: 200px;
    width: 13%;
    top: 57%;
    margin: 0;
    left: 71%;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(tech.jpg);
    background-position: center top;
    transition: ease 0.5s;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .novels{
    position: absolute;
    height: 200px;
    width: 13%;
    top: 57%;
    margin: 0;
    left: 85.5%;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(novels.jpg);
    background-size: cover;
    transition: ease 0.5s;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .caption1{
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px 0 0 20px;
  }
  .text1{
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 40px 0 20px;
  }
}  

@media only screen and (min-width:1200px){
  #logo{
    position: absolute;
    top: 3%;
    left: 0.9%;
    height: 5%;
  }
  #profileimg{
    position: absolute;
    top: 2%;
    left: 93.5%;
    border-radius: 8px;
    height: 8%;
  }
  
  .menu{
    position: absolute;
    border-radius: 10px;
    background-color: #8bbabb;
    height: 250px;
    width: 5.5%;
    left: 0.9%;
    top: 15%;
  }
  h2{
    position: absolute;
    top: 3%;
    margin: 0 auto;
    font-size: 210%;
    left: 9%;
    font-weight: 800;
  }
  
  .banner img{
    position: absolute;
    top: 12%;
    left: 8%;
    height: 45%;
    width: 60%;;
  }
  
  .banner h1{
    color: #003f5c;
    font-size: 35px;
    font-weight: 800;
    position: absolute;
    top: 25%;
    left: 10%;
  }
  .banner p{
    max-width: 330px;
    color: #003f5c;
    margin-right: 8px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    top: 32%;
    left: 10%;
  }
  .year1{
    position: absolute;
    height: 120px;
    width: 28%;
    top: 63%;
    left: 9%;
    border-radius: 15px;
    background-image: url(1year.jpg);
    transition: linear 0.4s;
    cursor: pointer;
  }
  .year2{
    position: absolute;
    height: 120px;
    width: 28%;
    top: 63%;
    left: 40%;
    border-radius: 15px;
    background-image: url(2year.jpg);
    transition: ease 0.5s;
    cursor: pointer;
  }
  .year3{
    position: absolute;
    height: 120px;
    width: 28%;
    top: 82%;
    left: 9%;
    border-radius: 15px;
    background-image: url(3year.jpg);
    transition: ease 0.5s;
    cursor: pointer;
  }
  .year4{
    position: absolute;
    height: 120px;
    width: 28%;
    top: 82%;
    left: 40%;
    border-radius: 15px;
    background-image: url(4year.jpg);
    transition: ease 0.5s;
    cursor: pointer;
  }
  
  .list{
    margin: 13px auto;
    list-style-type: none;
    left: 0.9%;
  }
  
  .list svg{
    margin: 20px 20px 30px 28px;
    color: #fff;
    stroke-width: 2.5px;
    cursor: pointer;
  }
  .indicator{
    position: absolute;
    height: 20%;
    margin-top: 25%;
    border-radius: 0 5px 5px 0;
    width: 6%;
    background-color: #fff;
    transition: margin-top 0.4s linear;
  }
  h3{
    font-weight: 800;
    position: absolute;
    top: 56.5%;
    margin: 0 auto;
    font-size: 180%;
    left: 9.5%;
  }
  
  .caption{
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 10px 0 0 40px;
  }
  .text{
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 0 0 45px;
  }
  h4{
    font-weight: 800;
    position: absolute;
    margin: 0 auto;
    top: 15%;
    left: 71%;
    font-size: 220%;
  }
  .gate{
    position: absolute;
    height: 250px;
    width: 13%;
    top: 24%;
    left: 71%;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(gate.jpg);
    background-position: top;
    transition: ease 0.5s;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .appt{
    position: absolute;
    height: 250px;
    width: 13%;
    top: 24%;
    left: 85.5%;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(appt.jpg);
    background-size: cover;
    background-position: center;
    transition: ease 0.5s;
    text-overflow: ellipsis;
    cursor: pointer;
    opacity: 0.5 #000;
  }
  .tech{
    position: absolute;
    height: 250px;
    width: 13%;
    top: 60%;
    margin: 0;
    left: 71%;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(tech.jpg);
    background-position: center top;
    transition: ease 0.5s;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .novels{
    position: absolute;
    height: 250px;
    width: 13%;
    top: 60%;
    margin: 0;
    left: 85.5%;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(novels.jpg);
    background-size: cover;
    transition: ease 0.5s;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .caption1{
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px 0 0 20px;
  }
  .text1{
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 40px 0 20px;
  }
}  
@media (min-height: 750px), (min-width: 1350px){
  #logo{
    position: absolute;
    top: 3%;
    left: 0.9%;
    height: 5%;
  }
  #profileimg{
    position: absolute;
    top: 2%;
    left: 93.5%;
    border-radius: 8px;
    height: 8%;
  }
  
  .menu{
    position: absolute;
    border-radius: 10px;
    background-color: #8bbabb;
    height: 250px;
    width: 5.5%;
    left: 0.9%;
    top: 15%;
  }
  h2{
    position: absolute;
    top: 3%;
    margin: 0 auto;
    font-size: 210%;
    left: 9%;
    font-weight: 800;
  }
  
  .banner img{
    position: absolute;
    top: 12%;
    left: 8%;
    height: 45%;
    width: 60%;;
  }
  
  .banner h1{
    color: #003f5c;
    font-size: 35px;
    font-weight: 800;
    position: absolute;
    top: 25%;
    left: 10%;
  }
  .banner p{
    max-width: 330px;
    color: #003f5c;
    margin-right: 8px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    top: 32%;
    left: 10%;
  }
  .year1{
    position: absolute;
    height: 120px;
    width: 28%;
    top: 63%;
    left: 9%;
    border-radius: 15px;
    background-image: url(1year.jpg);
    transition: linear 0.4s;
    cursor: pointer;
  }
  .year2{
    position: absolute;
    height: 120px;
    width: 28%;
    top: 63%;
    left: 40%;
    border-radius: 15px;
    background-image: url(2year.jpg);
    transition: ease 0.5s;
    cursor: pointer;
  }
  .year3{
    position: absolute;
    height: 120px;
    width: 28%;
    top: 82%;
    left: 9%;
    border-radius: 15px;
    background-image: url(3year.jpg);
    transition: ease 0.5s;
    cursor: pointer;
  }
  .year4{
    position: absolute;
    height: 120px;
    width: 28%;
    top: 82%;
    left: 40%;
    border-radius: 15px;
    background-image: url(4year.jpg);
    transition: ease 0.5s;
    cursor: pointer;
  }
  
  .list{
    margin: 13px auto;
    list-style-type: none;
    left: 0.9%;
  }
  
  .list svg{
    margin: 20px 20px 30px 28px;
    color: #fff;
    stroke-width: 2.5px;
    cursor: pointer;
  }
  .indicator{
    position: absolute;
    height: 20%;
    margin-top: 25%;
    border-radius: 0 5px 5px 0;
    width: 6%;
    background-color: #fff;
    transition: margin-top 0.4s linear;
  }
  h3{
    font-weight: 800;
    position: absolute;
    top: 56.5%;
    margin: 0 auto;
    font-size: 180%;
    left: 9.5%;
  }
  
  .caption{
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 10px 0 0 40px;
  }
  .text{
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 0 0 45px;
  }
  h4{
    font-weight: 800;
    position: absolute;
    margin: 0 auto;
    top: 15%;
    left: 71%;
    font-size: 220%;
  }
  .gate{
    position: absolute;
    height: 250px;
    width: 13%;
    top: 24%;
    left: 71%;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(gate.jpg);
    background-position: top;
    transition: ease 0.5s;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .appt{
    position: absolute;
    height: 250px;
    width: 13%;
    top: 24%;
    left: 85.5%;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(appt.jpg);
    background-size: cover;
    background-position: center;
    transition: ease 0.5s;
    text-overflow: ellipsis;
    cursor: pointer;
    opacity: 0.5 #000;
  }
  .tech{
    position: absolute;
    height: 250px;
    width: 13%;
    top: 60%;
    margin: 0;
    left: 71%;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(tech.jpg);
    background-position: center top;
    transition: ease 0.5s;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .novels{
    position: absolute;
    height: 250px;
    width: 13%;
    top: 60%;
    margin: 0;
    left: 85.5%;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(novels.jpg);
    background-size: cover;
    transition: ease 0.5s;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .caption1{
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px 0 0 20px;
  }
  .text1{
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 40px 0 20px;
  }
}  




  